<section class="hero">
  <div class="container hero-container">
    <picture class="hero-image">
      <source
        media="(max-width: 767px)"
        and
        media="min-resolution: 1dppx"

        srcset="./img/Hero/placeholder_Image_1x_mob.jpg"
     />

      <source
        media="(max-width: 767px)"
        and
        media="min-resolution: 2dppx"
        srcset="./img/Hero/placeholder_Image_2x_mob.jpg"
      />

      <source
        media="(max-width: 1335px)"
        and
        media="min-resolution: 1dppx"
        srcset="./img/Hero/placeholder_Image_1x_tab.jpg"
      />

      <source
        media="(max-width: 1335px)"
        and
        media="min-resolution: 2dppx"
        srcset="./img/Hero/placeholder_Image_2x_tab.jpg"
      />

      <source
        media="(min-width: 1336px)"
        and
        media="min-resolution: 1dppx"
        srcset="./img/Hero/placeholder_Image_1x_pc.jpg"
      />

      <source
        media="(min-width: 1336px)"
        and
        media="min-resolution: 2dppx"
        srcset="./img/Hero/placeholder_Image_2x_pc.jpg"
      />

      <img src="./img/Hero/placeholder_Image_1x_pc." alt="Yoga" />
    </picture>

    <div class="hero-content">
      <div class="hero-title-container">
        <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
      </div>
      <div class="hero-description">
        <p class="hero-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <div class="hero-buttons">
          <a class="button-to-pricing" href="#pricing">Join Now</a>
          <a class="button-to-gallery" href="#gallery">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
