<div class="modal-overlay" data-modal>
  <div class="modal">
    <button class="modal-button-close" type="button" data-modal-close-10>
      <svg class="modal-button-close-icon" width="14px" height="14px">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-description-box">
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-description">One Session</p>
      <p class="modal-price">$10</p>
    </div>
    <form class="modal-form" action="">
      <ul class="modal-form-list">
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-name"
            >Your Name<input
              class="modal-form-input"
              id="user-name"
              name="eser-name"
              type="text"
              placeholder="placeholder"
          /></label>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-email"
            >Email<input
              class="modal-form-input"
              id="user-email"
              name="user-email"
              type="email"
              placeholder="placeholder"
          /></label>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-phone"
            >Phone number<input
              class="modal-form-input"
              id="user-phone"
              name="user-phone"
              type="number"
              placeholder="placeholder"
          /></label>
        </li>
      </ul>
      <button class="modal-button-checkout" type="button">
        Go to checkout
      </button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal-65>
  <div class="modal">
    <button class="modal-button-close" type="button" data-modal-close-65>
      <svg class="modal-button-close-icon" width="14px" height="14px">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-description-box">
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-description">One Session</p>
      <p class="modal-price">$65</p>
    </div>
    <form class="modal-form" action="">
      <ul class="modal-form-list">
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-name"
            >Your Name<input
              class="modal-form-input"
              id="user-name"
              name="eser-name"
              type="text"
              placeholder="placeholder"
          /></label>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-email"
            >Email<input
              class="modal-form-input"
              id="user-email"
              name="user-email"
              type="email"
              placeholder="placeholder"
          /></label>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-phone"
            >Phone number<input
              class="modal-form-input"
              id="user-phone"
              name="user-phone"
              type="number"
              placeholder="placeholder"
          /></label>
        </li>
      </ul>
      <button class="modal-button-checkout" type="button">
        Go to checkout
      </button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal-80>
  <div class="modal">
    <button class="modal-button-close" type="button" data-modal-close-80>
      <svg class="modal-button-close-icon" width="14px" height="14px">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-description-box">
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-description">One Session</p>
      <p class="modal-price">$80</p>
    </div>
    <form class="modal-form" action="">
      <ul class="modal-form-list">
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-name"
            >Your Name<input
              class="modal-form-input"
              id="user-name"
              name="eser-name"
              type="text"
              placeholder="placeholder"
          /></label>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-email"
            >Email<input
              class="modal-form-input"
              id="user-email"
              name="user-email"
              type="email"
              placeholder="placeholder"
          /></label>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-phone"
            >Phone number<input
              class="modal-form-input"
              id="user-phone"
              name="user-phone"
              type="number"
              placeholder="placeholder"
          /></label>
        </li>
      </ul>
      <button class="modal-button-checkout" type="button">
        Go to checkout
      </button>
    </form>
  </div>
</div>
