<section class="pricing section" id="pricing">
  <div class="container">
    <div class="pricing-title-box">
      <p class="pricing-subtitle">Affordable</p>
      <h2 class="pricing-title">Pricing Plans</h2>
      <p class="pricing-description">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <h4 class="pricing-list-box-title">One Session</h4>
        <p class="pricing-list-box-price">$10</p>
        <ul class="pricing-list-box-sublist">
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">1 group session</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">
              10% discount for next 2 Sessions
            </p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">Community support group</p>
          </li>
        </ul>
        <button
          class="pricing-list-box-sublist-button"
          type="button"
          data-modal-open-10
        >
          Join
        </button>
      </li>
      <li class="pricing-list-item">
        <h4 class="pricing-list-box-title">8 Sessions Package</h4>
        <p class="pricing-list-box-price">$65</p>
        <ul class="pricing-list-box-sublist">
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">6 Group Sessions</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">2 Individual Sessions</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">
              Priority customer support
            </p>
          </li>
        </ul>
        <button
          class="pricing-list-box-sublist-button"
          type="button"
          data-modal-open-65
        >
          Join
        </button>
      </li>
      <li class="pricing-list-item pricing-mobile-and-desktop">
        <h4 class="pricing-list-box-title">12 Sessions Package</h4>
        <p class="pricing-list-box-price">$80</p>
        <ul class="pricing-list-box-sublist">
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">8 Group Sessions</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">4 Individual Sessions</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">Monthly yoga challenges</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">
              Exclusive member discounts
            </p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">Community support group</p>
          </li>
        </ul>
        <button
          class="pricing-list-box-sublist-button"
          type="button"
          data-modal-open-80
        >
          Join
        </button>
      </li>
      <!-- last card for tablet version -->
      <li class="pricing-list-item pricing-tablet">
        <div class="pricing-tablet-text-box">
          <h4 class="pricing-list-box-title">12 Sessions Package</h4>
          <p class="pricing-list-box-price">$80</p>
          <button
            class="pricing-list-box-sublist-button"
            type="button"
            data-modal-open-80
          >
            Join
          </button>
        </div>
        <ul class="pricing-list-box-sublist">
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">8 Group Sessions</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">4 Individual Sessions</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">Monthly yoga challenges</p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">
              Exclusive member discounts
            </p>
          </li>
          <li class="pricing-list-box-sublist-item">
            <svg class="pricing-list-box-sublist-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-checked"></use>
            </svg>
            <p class="pricing-list-box-sublist-text">Community support group</p>
          </li>
        </ul>
      </li>
      <!-- end last card for tablet version-->
    </ul>
  </div>
</section>
