<section class="testimonials">
  <div class="container">
    <div>
      <h2 class="testi-title">Testimonials</h2>
      <p class="testi-title-text">What our happy clients say</p>
    </div>
    <ul class="testi-list">
      <li class="testi-list-item">
        <p class="testi-list-item-text">
          YogaBloom is a true sanctuary for the mind and body. The classes are
          thoughtfully guided, the atmosphere is calming, and every session
          leaves me feeling more centered, flexible, and recharged. Highly
          recommended for anyone seeking balance and inner peace.
        </p>
        <div class="testi-container-card">
          <img
            class="testi-container-card-foto"
            srcset="../img/Testimonials/donna_norman_1x.png 1x ../img/Testimonials/donna_norman_2x.png 2x"
            src="../img/Testimonials/donna_norman_1x.png"
            alt="portret foto"
          />
          <h3 class="testi-container-card-title">Donna Norman</h3>
          <p class="testi-container-card-text">Yoga Enthusiast</p>
        </div>
      </li>
      <li class="testi-list-item">
        <p class="testi-list-item-text">
          I’ve tried many yoga studios, but YogaBloom stands out with its
          welcoming energy and inspiring instructors. Every class feels like a
          journey inward. It’s now my favorite part of the week.
        </p>
        <div>
          <img
            class="testi-container-card-foto"
            srcset="
              ../img/Testimonials/sophie_delgado_1x.png 1x,
              ../img/Testimonials/sophie_delgado_2x.png 2x
            "
            src="../img/Testimonials/sophie_delgado_1x.png"
            alt="portret foto"
          />
          <h3 class="testi-container-card-title">Sophie Delgado</h3>
          <p class="testi-container-card-text">Marketing Specialist</p>
        </div>
      </li>
      <li class="testi-list-item">
        <p class="testi-list-item-text">
          YogaBloom helped me reconnect with myself. The sessions are
          well-paced, the space is beautiful, and the community is truly
          supportive. A perfect place to grow both physically and mentally.
        </p>
        <div>
          <img
            class="testi-container-card-foto"
            srcset="
              ../img/Testimonials/rachel_kimura_1x.png 1x,
              ../img/Testimonials/rachel_kimura_2x.png 2x
            "
            src="../img/Testimonials/rachel_kimura_1x.png"
            alt="portret foto"
          />
          <h3 class="testi-container-card-title">Rachel Kimura</h3>
          <p class="testi-container-card-text">Freelance Illustrator</p>
        </div>
      </li>
      <li class="testi-list-item">
        <p class="testi-list-item-text">
          Whether you're new to yoga or a long-time practitioner, YogaBloom
          offers something special. The mindful approach and soothing guidance
          make each class a peaceful escape from daily stress.
        </p>
        <div>
          <img
            class="testi-container-card-foto"
            srcset="
              ../img/Testimonials/emma_l._hart_1x.png 1x,
              ../img/Testimonials/emma_l._hart_2x.png 2x
            "
            src="../img/Testimonials/emma_l._hart_1x.png 1x,"
            alt="portret foto"
          />
          <h3 class="testi-container-card-title">Emma L. Hart</h3>
          <p class="testi-container-card-text">
            University Student & Part-time Barista
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
