<section class="yoga-classes">
<div class="container">
<p class="explore-text">Explore</p>
<h2 class="yoga-classes-title">Discover Our Most Popular Yoga Programs</h2>
<p class="yoga-classes-text">Join our community and elevate your practice with our expertly designed yoga programs. Each course is tailored to meet various skill levels and personal goals.
</p>
<ul class="yoga-classes-list">
    <li class="yoga-classes-item">
        <img src="" alt="">
        <div class="yoga-classes-content">
       <h3 class="yoga-classes-item-title">Beginner Yoga: Foundations for New Practitioners</h3> 
       <p class="yoga-classes-text">Learn the basics of yoga in a supportive environment.</p>
       </div>
    </li>
    <li class="yoga-classes-item">
        <img src="" alt="">
        <div class="yoga-classes-content">
        <h3 class="yoga-classes-item-title">Vinyasa Flow: Energize Your Body and Mind</h3>
        <p class="yoga-classes-text">Experience a dynamic sequence that connects breath and movement.</p>
        </div>
    </li>
    <li class="yoga-classes-item">
        <img src="" alt="">
        <div class="yoga-classes-content">
      <h3 class="yoga-classes-item-title">Restorative Yoga: Deep Relaxation and Healing</h3> 
      <p class="yoga-classes-text">Unwind and rejuvenate with gentle poses and mindfulness.</p> 
      </div>
    </li>
</ul>
<button class="join">
</button>
</div>
</section>